<nav>
  <% if (user) { %>
    <a class="all-vendors" href="/users/<%=user._id%>/vendors/all">All Vendors</a>
    <a class="vendor-review" href="/users/<%= user._id %>/vendors">Your Vendor Reviews</a>
    <a class="auth-link" href="/auth/sign-out">Sign out</a>
    <%} else { %>
    <a class="auth-link" href="/auth/sign-in">Sign In</a>
    <a class= "auth-link" href="/auth/sign-up">Sign Up</a>
    <% } %>
 
  </nav>