<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VendorTea</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <%if (user) { %>
      <h1>Welcome, <%= user.username %></h1>
    <% } %>
    <h1>VendorTea</h1>
    <p> Spill and get the tea on all the event related vendors.</p>
    
  </body>
</html>