@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

body{
    background-image:url("https://marketplace.canva.com/EAGDtE5SVp8/1/0/1131w/canva-green-watercolor-hand-drawn-floral-background-document-5mXnVOZIHk8.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    font-family: "Metal", sans-serif;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 90vh;/*centered the content more to the middle of the page*/
    width: 100vw
}

h1{
    color:#BC8F8F;
    font-size:4.0em;
    font-weight: bold;
    margin-bottom: 5px;


}

p{
    color:#6B8E23;
    font-size:1.8em;
    margin-top: 0;
    margin-bottom: 10px;
}

.auth-link,
.vendor-review,
.add-vendor,
.all-vendors,
.edit
{
    color:#6B8E23;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-size:1.5em;

}

.vendor-company{
    color:#6B8E23;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-size:1.5em;
}

.signin-container,
.signup-container{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    color:#6B8E23;
    font-size: 1.5em;
    font-weight:bold;

}

form{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    font-size: 2.0em;
    color:#6B8E23;
    font-weight:bold;
   

}

button{
    padding: 5px;
    background-color:#DCDCDC ;
    color:#6B8E23;
    border-radius: 20px;
    margin: 10px 0;
    font-size:0.5em;
    border-color:#556B2F ;


}

@media (max-width: 768px) {
    body {
        height: 100vh; 
        padding: 20px; 
        background-size:cover;
        background-position: center;
    }

    h1 {
        font-size: 2.5em; 
    }

    p {
        font-size: 1.5em; 
    }

    .auth-link,
    .vendor-review,
    .add-vendor,
    .all-vendors,
    .edit,
    .vendor-company {
        font-size: 1.2em; 
    }

    .signin-container,
    .signup-container {
        font-size: 1.2em; 
    }

    form {
        font-size: 1.5em;
    }

    button {
        font-size: 1em; 
        padding: 5px; 
    }
}